/* Matthew Samuel*/
body {
  background-color:  #b6e1fc;
  color: darkblue;
  text-align: center;
}

p{
  font-size: 20pt;
  font-family: 'Droid Sans Mono';
}

h1{
  font-size: 30pt;
  font-family: cursive;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20pt;
  color: darkblue;
}
h3{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20pt;
  color: darkblue;
}

h4{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 60pt;
  color: #e6f9ff;
}

a{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 15pt;
  text-decoration:none;
}

button {
    background-color: #c5ccd3;
    float: center;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

div{
  /*background-color: lightgreen;*/
}
