/* Matthew Samuel*/
body {
  background-color:  #b6e1fc;
  color: darkblue;
  text-align: center;
}

p{
  font-size: 17pt;
  font-family: 'Droid Sans Mono', monospace;
}

h1{
  font-size: 30pt;
  font-family: cursive;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

h2{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18pt;
  color: darkblue;
}
h3{
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18pt;
  color: darkblue;
}

#sub{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 56pt;
  color: green ;
}

a{
  font-family: 'Press Start 2P', cursive;
  font-size: 13pt;
  text-decoration:none;
  padding: 18px 18px;
  border: 1px solid blue;
}

a:hover {
  color: red;
}

#play{
  font-family: 'Press Start 2P', cursive;
  font-size: 12pt;
  text-decoration:none;
  padding: 18px 18px;
  border: 2px solid blue;
  position: absolute;
  bottom:100px;
  right:500px;
}
#backgroundImage {
  font-family: monospace;
  position: absolute;
  bottom:10px;
  right:50px;
  padding: 0px 0px;
  border: 0px solid blue;
  font-size: 10pt;
}

#faviconImage{
  font-family: monospace;
  position: absolute;
  bottom:30px;
  right:50px;
  padding: 0px 0px;
  border: 0px solid blue;
  font-size: 10pt;
}

#images{
  font-family: monospace;
  position: absolute;
  bottom:40px;
  right:50px;
  font-size: 10pt;
}
button {
    background-color: #c5ccd3;
    float: center;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    margin-left:30px;
    margin-right:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
